.landingPage {
  background-color: lightblue;
  height: 700px;
}

.about {
  background-color: grey;
  height: 700px;
}

.projects {
  background-color: lightblue;
  height: 700px;
}

.landingPageHeader {
  text-align: center;
}

.landingPageParagraph {
  width: 400px;
}

.landingPageImage {
  border: solid;
  border-color: black;
  background-color: white;
  width: 400px;
  height: 400px;
}

.landingPageSection {
  display: flex;
  margin: 50px;
  justify-content: space-around;
}